<link rel="stylesheet" href="/login.css">
<div class= "wrapper">
    <form class="login-form">
        <div class="padding-md">
            <label for="email-login">email</label>
            <input type="text" id="email-login">
            <div class="padding-20">
                <label for ="password-login">password</label>
                <input type="password" id="password-login">
            </div>
            <div class="padding-20"
            <button type="submit" id="login-btn">login</button>
        </div> 

    </form>

    <form class="sign-up-form">
    <div>
        <label class="username-signup">username</label>
        <input id="username-signup" type="text">
    </div>
    <div>
        <label class="password-signup">password</label>
        <input id="password-signup" type="password">
    </div>
    </form>
</div>
<script src="/js/login.js"></script>
