{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
        <button type="button" class="upvote-btn">upvote</button>
        </div>
        <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}
{{/if}}

{{#unless loggedIn}}
{{> commentslogout post.comments}}
{{/unless}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}