<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>n-Abl</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
  <div class="wrapper">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light bg-custom-2 justify-content-between w-100">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/nabllogocleanedcolor.png" alt="" height="150" class="img-responsive d-inline-block align-text-top">
          </a>
          <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav ">
              {{#if loggedIn}}
              <li class="nav-item">
              <a href="/dashboard" class="btn-no-style">dashboard</a>
              </li>
              <li class="nav-item">
              <button id="logout" class="btn-no-style">logout</button>
              {{/if}}
              </li>
            </ul>
          </div>
        </div>


      </nav>
    </header>
          
    <main>
      {{{ body }}}
    </main>
    <footer class="bg-custom-2 txt-no-style">
      Copyright &copy; 2021 All Rights Reserved by DJSA
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>