<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" placeholder="Title"/>
    </div>
    <div>
      <label for="post-text">Post</label>
    <textarea id="post-text" name="post-text" placeholder="Post Content"></textarea>
  </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-posts.js"></script>