
<div class="padding-20">
    <form =id="edidelete-form">Delete this post<
    <input class="padding-20" type="textarea" name="post-title" id="post-title"
     <label for "post-title">Are you sure</label>
    <input class="padding-20" type="textarea" name="post-text" id="post-body"
    <button class="padding-20" id="create-post-btn">Update</button></form>
</div>

<script src="js/update-post.js"></script>
<script src"edit-delete-post.js"></script>
