<div class="padding-20">
    <form =id="edit-form">New Post Title
    <input class="padding-20" type="textarea" name="post-title" id="post-title"
    <label for "post-title">New Text</label>
    <input class="padding-20" type="textarea" name="post-text" id="post-body"
    <button class="padding-20" id="create-post-btn">Update</button>

</form>
</div>
<link rel="stylesheet" href="/post.css">
<script src="js/update-post.js"></script>
<script src"edit-post.js"></script>
