* {
  box-sizing: border-box;
}


.titlebtn {
  background: none;
  border: 2px;
  padding: 0;
  text-decoration: none;
  color: #b7b6eb;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
}

.background{
    height: 100%;
    background-size: cover;
    background-position:center;
    position: relative;
}

.background {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 0px;
  }

body, html {
  height: 100%;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000808;
}
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-image: url("./desktop/background.jpeg");
    background-size: cover;
}

/*a {
  display: flex;
  justify-content:right;
  text-decoration: none;
  font-weight: bold;
  transition: color .1s;
  margin-right: 20px;
}

a:hover {
  color: #3c98d6;
}*/

.btn {
  background-color: lightgray;
}

button {
  background-color: #fdfbfb;
  border: 2px;
  padding: 1%;
  color: #293533;
  font-weight: bold;
  transition: background-color .1s;
  border-radius: 5px;
}

button:hover {
  background-color: gray;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid rgb(224, 208, 208);
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form>div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {

    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    color: whitesmoke;
}
header h1 {
  font-size: 60px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #e4f9f5;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
}

.btn-no-style:hover {
  background: none;
  color: whitesmoke;
}

.txt-no-style {
  color: #e4f9f5;
  font-size: 100%;
  font-weight: bold;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #fcc9bd;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-weight: bold;
  color: #faf5f5;
}

.post .content span {
  font-size: 99%;
  color: #fcf9f9;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

/*.upvote-btn {
  background-color: #0f487d;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #9ff397;
}*/

.comment-form {
  margin-bottom: 5%;
}

.negative {
  padding: 1%;
  margin-bottom: 1%;
  background-color: lightcoral;
}

.positive {
  padding: 1%;
  margin-bottom: 1%;
  background-color: lightgreen;
}

/*.comment:nth-child(odd) {
  background-color: #fff5eb;
}*/

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid rgb(229, 208, 147);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 90%;
  background-color: #f5efbe;
}

ul {
  list-style-type: none;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #576d69 0%, #40514e 100%);
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

 /* Dropdown Button */
 .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

/* Css3 tags */
	
.tags a {
	display: inline-block;
	height:24px;
	line-height:23px;
	position:relative;
	margin: 0 12px 8px 0;
	padding: 0 12px 0 10px;
	background: #777;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	color: #fff;
	font-size:12px;
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0,0,0,0.2);
	font-weight: bold;
	}
	
.tags a:before {
	content: "";
	position: absolute;
	top: 10px;
	right: 1px;
	float: left;
	width: 5px;
	height: 5px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	-moz-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
	box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
	}
	
.tags a:after {
	content: "";
	position: absolute;
	top:0;
	right: -12px;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #777;
	border-style: solid;
	border-width: 12px 0 12px 12px;
	}
	
.tags a.color1 {background: #f58220;}
.tags a.color1:after {border-color: transparent transparent transparent #f58220}
.tags a.color2 {background: #97c224;}
.tags a.color2:after {border-color: transparent transparent transparent #97c224}
.tags a.color3 {background: #de3f3e;}
.tags a.color3:after {border-color: transparent transparent transparent #de3f3e}
.tags a.color4 {background: #ec008c;}
.tags a.color4:after {border-color: transparent transparent transparent #ec008c}
.tags a.color5 {background: #00a6df;}
.tags a.color5:after {border-color: transparent transparent transparent #00a6df}	
.tags a:hover {background:#222 !important}
.tags a:hover:after {border-color:transparent transparent transparent #222!important}
	
.small a {
	height: 21px;
	line-height: 21px;
	float: none;
	font-size: 11px;
	}
	
.small a:before {
    right: 0;
    top: 8px;
    border-width: 10px 0 10px 10px;
	}
	
.small a:after {
	right: -11px;
	top: 0;
	border-width: 11px 0 11px 11px;
	}